NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000/api/v1
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WHATSAPP_NUMBER=2250700000000
NEXT_PUBLIC_WHATSAPP_PREFILL=Bonjour Anata Store, je veux des conseils pour choisir mon smartphone selon mon budget.
